
.member-display-order-title,
.member-display-order-detail{
    margin-top: 10px;
    display: flex;
}

.member-display-order-item,
.member-display-order-item-show-button,
.member-display-order-item-display {
    width: 16.6666%;
}

.detail-title, .detail-item {
    width: 12.5%;
    margin-bottom: 10px;
}
.detail-title {
    background-color: bisque;
    font-size: 16px; 
}

.member-display-order-item-show-button,
.member-display-order-item-display
{
    text-align: center;
}

.member-display-order-item-display{
    font-size: 25px;
    cursor: pointer;
}

.member-display-order-item-show{
    text-align:center;
}

.member-display-order-item-show-dynamic-button:hover {
    color: #fc8d61;
    cursor: pointer;
}


.member-display-order-detail {
    color: #000;
    justify-content: center;
    align-items: baseline;
    background-color: #fff;
    border-bottom: 1px solid #FFEEDD;
    border-radius: unset;
    /*border: 1px solid blue;*/
    border: 1px solid #fc8d61;
    margin: 20px 0 0 0;
}

.member-display-order-detail-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    color: #272727;
    /*box-shadow: 3px 3px 8px #fc8d61;*/
}
.ProductName{
    height:50px;
}
.order-during {
    align-items: end;
}

.order-name {
    display: flex;
    align-items: center;
    color: Chocolate;
    font-size: 15px;
}

.order-rentday {
    display: flex;
    align-items: end;
    justify-content: center;
}
.order-price {
    align-items: center;
    justify-content: end;
}
.order-status {
    align-items: center;
    justify-content: end;
}

.order-during,
.order-name,
.order-rentday,
.order-price,
.order-status{
    font-weight:700;
}

.member-order-info-item {
    width: 14%;
}

.member-order-info-item-more{
    width:42%;
}
/* 訂單狀態:待付款 設定字體顏色:紅色 */
.NotPay {
    color: crimson;
}

@media screen and (min-width:312px) {
    .member-display-order-title,
    .member-display-order-detail,
    .member-display-order-detail-list,
    .member-btn-style {
        font-size: 20%;
    }
}

@media screen and (min-width:414px) {
    .member-display-order-title,
    .member-display-order-detail,
    .member-display-order-detail-list,
    .member-btn-style {
        transition: 1s;
        font-size: 20%;
    }
}

@media screen and (min-width:568px ) {
    .member-display-order-title,
    .member-display-order-detail,
    .member-display-order-detail-list,
    .member-btn-style {
        transition: 1s;
        font-size: 50%;
    }
}


@media screen and (min-width:768px ) {
    .member-display-order-title,
    .member-display-order-detail,
    .member-display-order-detail-list,
    .member-btn-style {
        transition: 1s;
        font-size: 80%;
    }
}

@media screen and (min-width:992px ) {
    .member-display-order-title,
    .member-display-order-detail,
    .member-display-order-detail-list,
    .member-btn-style {
        transition: 1s;
        font-size: 100%;
    }
}

@media screen and (min-width:996px) {
    .member-order-info-item {
        width: 14%;
    }

    .member-order-info-item-more{
        width: 42%;
    }

    .order-during,
    .order-name,
    .order-rentday,
    .order-price,
    .order-status {
        font-weight: 700;
    }


}

