.orange {
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    background-color: #FF8A65;
    border: none;
}

button:not(:disabled):hover {
    box-shadow: 2px 3px 2px #aaa;
    transform: translate(-3px,-2px) scaleY(1.05);
}

.modal-content {
    min-width: 340px;
}

/* input.flatpickr */
#datePicker {
    display: none;
}

.flatpickr-calendar.rangeMode {
    width: 100%;
}

.flatpickr-rContainer {
    width: 100%;
}

.flatpickr-days {
    width: 100%;
}

.dayContainer {
    width: 100%;
    max-width: none;
}

.flatpickr-day {
    height: auto;
    max-width: none;
    aspect-ratio: 1/1;
    padding-top: calc(7.14285% - 18px);
}