@{
    ViewData["Title"] = "ProductDetail";
}
<h1>訂單資料</h1>
<b-container fluid id="app" class="m-2 w-50 m-auto">
    @*<form>*@

    <b-col>
        <label for="input-small">訂單人姓名:</label>
    </b-col>
    <b-col>
        <b-form-input id="input-small" placeholder="請輸入" v-model="items.fullName" v-bind:class="{ 'is-invalid': usernameError }"></b-form-input>
        <div class=" text-danger">
            {{ userErrMsg }}
        </div>
    </b-col>

    <b-col>
        <label for="input-small" class="mt-3">分店地址: </label>
    </b-col>
    <b-col>
        <b-form-input id="input-small" placeholder="例如 : 1中華大學新竹總店、2新竹站前分店、3新竹高鐵站分店" v-model="items.storeID" v-bind:class="{ 'is-invalid': storeError }"></b-form-input>
        <div class=" text-danger">
            {{ storeErrMsg }}
        </div>
    </b-col>

    <b-col>
        <label for="input-small" class="mt-3">聯絡電話:</label>
    </b-col>
    <b-col>
        <b-form-input id="input-small" placeholder="請輸入" v-model="items.phone" v-bind:class="{ 'is-invalid': phoneError }"></b-form-input>
        <div class=" text-danger">
            {{ phoneErrMsg }}
        </div>
    </b-col>

    <b-col>
        <label for="input-small" class="mt-3">出貨狀態: </label>
    </b-col>
    <b-col>
        <b-form-input id="input-small" placeholder="例如 : 已歸還、待出貨、已出貨、已到貨、已取貨" v-model="items.goodsStatusID" v-bind:class="{ 'is-invalid': goodsError }"></b-form-input>
        <div class=" text-danger">
            {{ goodsErrMsg }}
        </div>
    </b-col>


    <b-col class="text-center mt-5">
        <b-button @@click="EditData()" variant="primary">送出修改</b-button>
        <b-button @@click="history.go(-1)">取消</b-button>
    </b-col>
    @*</form>*@

</b-container>


@section topJS{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.4/axios.min.js" integrity="sha512-lTLt+W7MrmDfKam+r3D2LURu0F47a3QaW5nF0c6Hl0JDZ57ruei+ovbg7BrZ+0bjVJ5YgzsAWE+RreERbpPE1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
}

@section endJS{

    <script src="~/js/Order/OrderDetailVue.js"></script>
}