@model IEnumerable<ProductCategoryViewModel>
@{
    ViewBag.Title = "商品總覽";
}

<div class="CategoriesCardsPage">

    <div class="row pt-lg-3 px-2">

        <!-- Left filter區 名駿-->
        <div class="col-lg-3 px-2 mx-0 left">

            <form action="">
                <div class="group">
                    <label for="Search" class="distence">
                        <strong>Search</strong>
                    </label> <br>

                    <input type="text" id="Search" class="btn input_text distence" placeholder="Item Name or Space">
                    <select name="Category" id="Category" class="input_text distence cell_phone">
                        <option value="0">Select a Category</option>
                        <option value="1">交通工具</option>
                        <option value="2">人才</option>
                        <option value="3">寵物</option>
                        <option value="4">飾品美妝</option>
                        <option value="5" selected="selected">電視遊戲</option>
                        <option value="6">桌遊</option>
                        <option value="7">書本</option>
                    </select>

                    <!-- <select name="SubCategory " id="SubCategory" class="input_text distence cell_phone">
                        <option value="0">Select a Sub-Category</option>
                        <option value="1">PS5-遊戲片</option>
                        <option value="2">Switch-遊戲片</option>
                        <option value="3">遊戲主機</option>
                    </select> -->
                </div>

                <div class="group cell_phone">
                    <label for="Location" class="distence">
                        <strong>Location</strong>
                    </label> <br>
                    <input type="button" id="Location" class="btn btn-default input_text distence"
                           value="新竹 Hsinchu" readonly>
                    <div id="map" class="distence"> </div>
                </div>

                <div class="group cell_phone">
                    <label for="Sort-by" class="distence">
                        <strong>Sort by</strong>
                    </label> <br>
                    <input type="radio" id="relevance" name="Sort-by" value="Relevance">
                    <label for="relevance">Relevance</label><br>

                    <input type="radio" id="price" name="Sort-by" value="Price">
                    <label for="price">Price</label><br>

                    <input type="radio" id="distance" name="Sort-by" value="Distance">
                    <label for="distance">Distance</label><br>
                </div>

                <div class="group cell_phone">
                    <label for="Condition" class="distence">
                        <strong>Condition</strong>
                    </label> <br>

                    <input type="checkbox" id="check1" name="check1" value="JustLikeNew">
                    <label for="check1">Just Like New</label><br>

                    <input type="checkbox" id="check2" name="check2" value="GentlyLoved">
                    <label for="check2">Gently Loved</label><br>

                    <input type="checkbox" id="check3" name="check3" value="Decent">
                    <label for="check3">Decent</label><br>

                    <input type="checkbox" id="check4" name="check4" value="HasSomeCharacter">
                    <label for="check4">Has Some Character</label><br>
                </div>

                <div class="group cell_phone">
                    <label for="Budget" class="distence">
                        <strong>Budget</strong>
                    </label> <br>
                    <select name="Rate" id="Rate" class="input_text distence">
                        <option value="0">Type of Rate</option>
                        <option value="1">Hourly</option>
                        <option value="2">Daily</option>
                        <option value="3">Weekly</option>
                        <option value="4">Monthly</option>
                    </select>

                    <button type="reset" class="btn btn-default clear distence"> Clear Filters </button>
                    <input type="submit" value="Filter My Results" class="distence filter_result">
                </div>
            </form>
        </div>

        <!-- Right 商品卡片部分:Dora -->
        <div class="col-lg-9 col-12 px-2 px-lg-4 mb-4 mx-0">
            <div class="col-12 px-3 CategoriesCardsContainer">
                <h2>所有種類 All Categories</h2>

                <div class=" d-flex flex-wrap">

               @foreach (var ct in Model)
               {
                    <div class="col-12 col-md-6">
                        <div class="category-card">
                            <div class="frontSide">
                                <div class="category-img">
                                    <img src=@ct.ImageSrcMain
                                         alt="">
                                </div>
                                <div class="categoryName d-grid card-3d">
                                    <p class="m-auto">@ct.CategoryName</p>
                                </div>
                            </div>
                            <div class="backSide">
                                <div class="category-img">
                                    <img src=@ct.ImageSrcSecond alt="">
                                </div>
                                <div class="d-grid card-3d">
                                    <a href="" class="checkitOut_ct m-auto">
                                        查看<br>商品
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                }

                    <!--<div class="col-12 col-md-6">
                        <div class="category-card">
                            <div class="frontSide">
                                <div class="category-img">
                                    <img src="https://www.mirrormedia.com.tw/assets/images/20190222160618-bf99ad8608cc4709a626f6801501433d-mobile.jpg"
                                         alt="">
                                </div>
                                <div class="categoryName d-grid card-3d">
                                    <p class="m-auto">寵物</p>
                                </div>
                            </div>
                            <div class="backSide">
                                <div class="category-img">
                                    <img src="https://media.vogue.com.tw/photos/5ff5c24f7fdb36c87cf72cef/master/pass/IMG_9003.JPG"
                                         alt="">
                                </div>
                                <div class=" d-grid card-3d">-->
                                    <!-- <p class="ctCard-Descpt">參加聚會卻沒東西可以炫?包包 香水 眼鏡出租</p> -->
                                    <!--<a href="" class="checkitOut_ct m-auto">查看</br>商品</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="category-card">
                            <div class="frontSide">
                                <div class="category-img">
                                    <img src="https://sw.cool3c.com/user/100672/2020/fbd660ed-0ea3-46de-8ced-26ecabba0951.jpg?fit=max&w=1400&q=80"
                                         alt="">
                                </div>
                                <div class="categoryName d-grid card-3d">
                                    <p class="m-auto">遊戲</p>
                                </div>
                            </div>
                            <div class="backSide">
                                <div class="category-img">
                                    <img src="https://www.mirrormedia.com.tw/assets/images/20190222160618-bf99ad8608cc4709a626f6801501433d-mobile.jpg"
                                         alt="">
                                </div>
                                <div class=" d-grid card-3d">-->
                                    <!-- <p class="ctCard-Descpt">參加聚會卻沒東西可以炫?包包 香水 眼鏡出租</p> -->
                                    <!--<a href="" class="checkitOut_ct m-auto">查看</br>商品</a>
                                </div>
                            </div>
                        </div>
                    </div>-->


            </div>

        </div>

    </div>
</div>

</div>

@section topCSS
{
    <!-- map -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />

    <link href="~/Assets/css/GeneralProductCards/GeneralCategories.css" rel="stylesheet" />
    <link href="~/Assets/css/GeneralProductCards/SearchFilter.css" rel="stylesheet" />
}

@section topJS
{
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

}

@section endJS
{
    <script src="~/Assets/js/GeneralProductCards/GeneralCategories.js"></script>
    <script src="~/Assets/js/GeneralProductCards/SearchFilter.js"></script>

}
