
@{
    ViewBag.Title = "Product";
}

<div class="container-xl">
    <h2>戶外遮陽加厚防晒棚</h2>
    <div class="Top_Title mb-3">
        <div class="Zip">
            <div class="ZipContent">
                <h5>CHU</h5>
                <span class="d-block">,</span>
                <h5 class="ms-1">Hsinchu</h5>
                <span class="d-block">,</span>
                <h5 class="ms-1 me-3">Taiwan</h5>
                <i class="fas fa-star mx-1"></i>
                <i class="fas fa-star mx-1"></i>
                <i class="fas fa-star mx-1"></i>
                <i class="fas fa-star mx-1"></i>
                <i class="fas fa-star mx-1"></i>
            </div>
            <div class="ZipSocial d-flex">
                <i class="fab fa-facebook-f mx-1"></i>
                <i class="fab fa-twitter mx-1"></i>
                <i class="fas fa-envelope mx-1"></i>
                <i class="far fa-copy mx-1"></i>
                <span>Copy link</span>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-sm-7 col-12 Product">
            <img src="https://cdn.ruckify.com/public_regen/51705cc0-f9dd-11ea-b5d2-c3496c2964a7/7bbae040-fe71-11ea-b0ea-511d396a4595/7bc2a500-fe71-11ea-a63e-1d976c5697ec_800x800.jpg"
                 data-fancybox="gallery"
                 data-caption="Optional caption">
        </div>
        <div class="col-sm-5 col-12 Product">
            <img src="https://lipsum.app/id/1/1024x768"
                 data-fancybox="gallery"
                 data-caption="Optional caption">
            <span class="SeeMore">See ALL 2</span>
        </div>

    </div>
    <!-- Button trigger modal -->
    <!--<button type="button" id="setDate" class="orange" data-bs-toggle="modal" data-bs-target="#DateModal">
        選擇租期
    </button>-->

</div>



<!-- DateModal -->
<!--<div class="modal fade" id="DateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLabel">設定起訖日</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <input class="flatpickr" type=text placeholder="Select Date 啦" id="datePicker">
            </div>
            <div class="modal-footer">
                <button class=" orange" data-bs-toggle="modal" data-bs-target="#TimeModal">
                    繼續設定時間
                </button>
            </div>
        </div>
    </div>
</div>-->
<!-- TimeModal -->
<!--<div class="modal fade" id="TimeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-titl text-center w-100" id="exampleModalLabel">設定時間</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="start"></div>
                <input class="flatpickr TimePicker" type=text placeholder="選時間..." id="startTimePicker">

                <div id="end"></div>
                <input class="flatpickr TimePicker" type=text placeholder="選時間..." id="endTimePicker">

            </div>
            <div class="modal-footer">
                <button type="button" class="orange" id="complete" data-bs-dismiss="modal">確定</button>

            </div>
        </div>
    </div>
</div>-->









@section topCSS{
    <link href="~/Assets/css/ProductCarousel.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_orange.css">
    <link href="~/Assets/css/dateTimePicker.css" rel="stylesheet" />

}
@section topJS{
    <script src="https://kit.fontawesome.com/62756de202.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

}
@section endJS{
    <script src="~/Assets/css/ProductCarousel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="~/Assets/js/datetimePicker.js"></script>

}


