@model IEnumerable<BlogViewModel>
@{
    ViewBag.Title = "最新好文";
}


<div class="banner d-flex flex-column justify-content-center">
    <a href="mailto:codestone@gmail.com" class="mx-auto welcome fw-bold"><p>喜歡哪系列的文章？歡迎來信告訴我們 <i class="far fa-envelope"></i></p></a>
    <h1>Knowrentge's Blog</h1>
</div>



<!-- 中間 -->
<div class="container mid d-flex" style="max-width: 1200px;">

    <div class="row left m-auto">
        <div class="col-12 d-flex">
            <h2 class="mb-5">最新好文</h2>
        </div>
        @foreach (var blog in Model)
        {
            <div class="col-12 d-flex mb-5 blogBox">
                @Html.Partial("Partial_BlogList", blog)
            </div>
        }

    </div>

    
</div>





@section topCSS{
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
          integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <link href="~/Assets/css/SocialMedia/BlogList.css" rel="stylesheet" />
}
@section endJS{

}

@if (User.Identity.IsAuthenticated)
{
    var result = Helper.ConvertMemberIdToMemberProfile(Int32.Parse(User.Identity.Name));
    TempData["img"] = result.ProfilePhotoUrl;
    TempData["name"] = result.Fullname;
}
