@model BlogViewModel
@{
    ViewBag.Title = @Model.BlogTitle;
}

<div class="container blogPageContainer">
    <div class="row">
        <div class="col-12 blogBox">
            <div class="d-grid" >
                <img src=@Model.MainImgUrl class="mainImg my-5 mx-auto" alt=@Model.MainImgUrl>
            </div>
            
            <div class="d-grid">
                <h1 class="title m-auto mb-4">@Model.BlogTitle</h1>
                <span class="date mx-auto">@Model.PostDate.ToString("yyyy-MM-dd") #@Model.Poster</span>
            </div>

            <div class="my-4 m-auto content">
                @Html.Raw(Model.BlogContent)

            </div>


        </div>
        

    </div>
</div>
@section topCSS{
    <link href="~/Assets/css/SocialMedia/BlogPageIndividual.css" rel="stylesheet" />
}
@if (User.Identity.IsAuthenticated)
{
    var result = Helper.ConvertMemberIdToMemberProfile(Int32.Parse(User.Identity.Name));
    TempData["img"] = result.ProfilePhotoUrl;
    TempData["name"] = result.Fullname;
}