@{
    ViewData["Title"] = "Product";
}

<b-container fluid id="app" class="mt-5">
    <div>
        <b-jumbotron header="">
            <h1 class="cyberpunk glitched product">停用產品區</h1>
        </b-jumbotron>
        <b-button variant="outline-primary" @@click="Index(false)">前往啟用產品區</b-button>
    </div>
    <!-- User Interface controls -->
    <b-button size="sm" @@click="Creat()" class="mr-1 my-1 mt-4" variant="success">
        新增產品
    </b-button>
    <b-row>
        <b-col lg="6" class="my-1">
            <b-form-group label="排序"
                          label-for="sort-by-select"
                          label-cols-sm="3"
                          label-align-sm="center"
                          label-size="sm"
                          class="mb-0 text-center"
                          v-slot="{ ariaDescribedby }">
                <b-input-group size="sm">
                    <b-form-select id="sort-by-select"
                                   v-model="sortBy"
                                   :options="sortOptions"
                                   :aria-describedby="ariaDescribedby"
                                   class="w-75">
                        <template #first>
                            <option value="">-- 無 --</option>
                        </template>
                    </b-form-select>

                    <b-form-select v-model="sortDesc"
                                   :disabled="!sortBy"
                                   :aria-describedby="ariaDescribedby"
                                   size="sm"
                                   class="w-25">
                        <option :value="false">升序</option>
                        <option :value="true">降序</option>
                    </b-form-select>
                </b-input-group>
            </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
            <b-form-group label="初始排序"
                          label-for="initial-sort-select"
                          label-cols-sm="3"
                          label-align-sm="center"
                          label-size="sm"
                          class="mb-0">
                <b-form-select id="initial-sort-select"
                               v-model="sortDirection"
                               :options="['asc', 'desc', 'last']"
                               size="sm"></b-form-select>
            </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
            <b-form-group label="篩選"
                          label-for="filter-input"
                          label-cols-sm="3"
                          label-align-sm="center"
                          label-size="sm"
                          class="mb-0">
                <b-input-group size="sm">
                    <b-form-input id="filter-input"
                                  v-model="filter"
                                  type="search"
                                  placeholder="輸入以搜尋"></b-form-input>

                    <b-input-group-append>
                        <b-button :disabled="!filter" @@click="filter = ''">清除</b-button>
                    </b-input-group-append>
                </b-input-group>
            </b-form-group>
        </b-col>

        <b-col lg="6" class="my-1">
            <b-form-group v-model="sortDirection"
                          label="過濾開啟"
                          label-cols-sm="3"
                          label-align-sm="center"
                          label-size="sm"
                          class="mb-0"
                          v-slot="{ ariaDescribedby }">
                <b-form-checkbox-group v-model="filterOn"
                                       :aria-describedby="ariaDescribedby"
                                       class="mt-1 d-flex">
                    <b-form-checkbox class="mx-1" value="ProductName">產品名稱</b-form-checkbox>
                    <b-form-checkbox class="mx-1" value="ProductId">產品編號</b-form-checkbox>
                    <b-form-checkbox class="mx-1" value="DailyRate">產品單價</b-form-checkbox>
                </b-form-checkbox-group>
            </b-form-group>
        </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table :items="items"
             :fields="fields"
             :current-page="currentPage"
             :per-page="perPage"
             :filter="filter"
             :filter-included-fields="filterOn"
             :sort-by.sync="sortBy"
             :sort-desc.sync="sortDesc"
             :sort-direction="sortDirection"
             :busy="isBusy"
             stacked="md"
             show-empty
             small
             hover
             @@filtered="onFiltered" bordered>
        <template #table-busy>
            <div class="text-center text-danger my-2">
                <b-spinner class="align-middle"></b-spinner>
                <strong>加載中...</strong>
            </div>
        </template>
        <template v-slot:cell(ProductId)="row">
            <div class="mt-2">{{ row.item.ProductId }}</div>
        </template>
        <template v-slot:cell(ProductName)="row">
            <div class="mt-2">{{ row.item.ProductName }}</div>
        </template>
        <template v-slot:cell(DailyRate)="row">
            <div class="mt-2">{{ row.item.DailyRate }}</div>
        </template>
        <template v-slot:cell(WithdrawalDate)="row">
            <div class="mt-2">{{ row.item.WithdrawalDate|dateFormat }}</div>
        </template>
        <template v-slot:cell(LaunchDate)="row">
            <div class="mt-2">{{ row.item.LaunchDate|dateFormat }}</div>
        </template>
        <template v-slot:cell(UpdateTime)="row">
            <div class="mt-2">{{ row.item.UpdateTime|dateFormat }}</div>
        </template>

        <template #cell(actions)="row">
            <b-button size="sm" @@click="link(row.item.ProductId)" class="mr-1 my-1" variant="primary">
                修改
            </b-button>
            <b-button size="sm" @@click="row.toggleDetails" variant="success ">
                {{ row.detailsShowing ? '隱藏' : '細項' }}
            </b-button>
        </template>

        <template #row-details="row">
            <b-card>
                <ul class="d-flex flex-wrap justify-content-center">
                    <b-col sm="6"><h5 class="text-left border-bottom"><strong>產品編號:</strong>&nbsp;{{ row.item.ProductId }}</h5></b-col>
                    <b-col sm="6"><h5 class="text-left border-bottom"><strong>產品名稱:</strong>&nbsp;{{ row.item.ProductName }}</h5></b-col>
                    <b-col sm="6"><h5 class="text-left border-bottom"><strong>產品單價:</strong>&nbsp;{{ row.item.DailyRate }}</h5></b-col>
                    <b-col sm="6"><h5 class="text-left border-bottom"><strong>更新時間:</strong>&nbsp;{{ row.item.UpdateTime|dateFormat }}</h5></b-col>
                    <b-col sm="6"><h5 class="text-left border-bottom"><strong>上架日期:</strong>&nbsp;{{ row.item.LaunchDate|dateFormat }}</h5></b-col>
                    <b-col sm="6"><h5 class="text-left border-bottom"><strong>下架日期:</strong>&nbsp;{{ row.item.WithdrawalDate|dateFormat }}</h5></b-col>
                    <b-col v-for="result in row.item.ProductImages" class="d-flex flex-wrap justify-content-center"><b-img-lazy thumbnail rounded class="mt-4" style="width:100px;height:100px;" data-fancybox="gallery" v-bind:src="result.SourceImages" alt="Center image"></b-img-lazy></b-col>
                </ul>
            </b-card>
        </template>
    </b-table>
    <b-row>
        <b-col sm="5" md="6" class="my-1">
            <b-form-group label="每頁顯示筆數"
                          label-for="per-page-select"
                          label-cols-sm="6"
                          label-cols-md="4"
                          label-cols-lg="3"
                          label-align-sm="right"
                          label-size="sm"
                          class="mb-0">
                <b-form-select id="per-page-select"
                               v-model="perPage"
                               :options="pageOptions"
                               size="sm"></b-form-select>
            </b-form-group>
        </b-col>

        <b-col sm="7" md="6" class="my-1">
            <b-pagination v-model="currentPage"
                          :total-rows="totalRows"
                          :per-page="perPage"
                          align="fill"
                          size="sm"
                          class="my-0"></b-pagination>
        </b-col>
        <b-row>

</b-container>




@section topCSS
{
    <link href="~/css/Product/Cyberpunk.css" rel="stylesheet" />
    <link href="~/css/Product/fancybox.css" rel="stylesheet" />
    <style>
        .product {
            font-size: 200px;
            font-weight: bold;
        }

        .jumbotron {
            background-color: #f9f002;
        }
    </style>
}
@section topJS
{
    <script src="~/js/Product/moment.js"></script>
    <script src="~/js/Product/momentTW.js"></script>
    <script src="~/js/Product/FancyBox.js"></script>
}
@section endJS
{
    <script src="~/js/Product/Product_Vue.js"></script>
}
