.btn {
    border-radius: 0px;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    font-family: '微软雅黑'
}

.btn-primary {
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.1);
    background-image: -webkit-linear-gradient(top,#4d90fe 0,#4787ed 100%);
    background-image: -o-linear-gradient(top,#4d90fe 0,#4787ed 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
    background-image: linear-gradient(to bottom,#4d90fe 0,#4787ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d90fe', endColorstr='#ff4787ed', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border: 1px solid #3079ed;
}

.btn-success {
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.1);
    background-image: -webkit-linear-gradient(top,#35aa47 0,#35aa47 100%);
    background-image: -o-linear-gradient(top,#35aa47 0,#35aa47 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#35aa47),to(#35aa47));
    background-image: linear-gradient(to bottom,#35aa47 0,#35aa47 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff35aa47', endColorstr='#ff35aa47', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border: 1px solid #359947;
}

.gallery .img-item {
    position: relative;
}

    .gallery .img-item .delete {
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        color: #fff;
        background: rgba(0,0,0,0.7);
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }

.img {
    width: 300px;
    height:200px;
    margin: 20px;
}
